<div class="row manage_user">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>STT</th>
            <th>Clump Thickness</th>
            <th>Uniformity of Cell Size</th>
            <th>Uniformity of Cell Shape</th>
            <th>Marginal Adhesion</th>
            <th>Single Epithelial Cell Size</th>
            <th>Bare Nuclei</th>
            <th>Bland Chromatin</th>
            <th>Normal Nucleoli</th>
            <th>Mitoses</th>
            <th>Result</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <%= render(@data_cancers) || t(".data_not_find") %>
      </tbody>
    </table>
    </div>
    <center><%= paginate @data_cancers %></center>
  </div>
</div>
<div class="loader hide hide-load-modal"></div>
