<% provide :title, t("admin.users.information_user") %>
<div class = "row">
  <div class = "block-title">

  </div>
  <div class = "block-content-full">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"dashboard.users.title_profile" %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-data-cancer">
            <%= render "table_header" %>
            </thead>
            <tbody class = "data-cancers-content">
              <%= render(@data_cancers) || t(".data_not_find") %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @data_cancers %></center>
      </div>
    </div>
  </div>
</div>

