<% provide :title, t("admin.value_fictions.title") %>
<div class = "row">
  <div class = "block-content-full">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.value_fictions.list_value_fictions" %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-value_fictions">
              <%= render "table_header" %>
            </thead>
            <tbody class = "value_fictions-content">
              <%= render(@value_fictions) || t(".data_not_find") %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @value_fictions %></center>
      </div>
    </div>
  </div>
</div>

