.image-register{
  max-height: 175px;
  max-width: 280px;
}

.errors, .help-block {
  color: red;
}

.height-250{
  height: 250px;
}

.gender{
  padding-top: 0 !important;
}

.manage_user{
  margin-bottom: 10px;
}
