<% provide :title, t("admin.knowledges.title") %>
<div class = "row">
  <div class = "block-title">

  </div>
  <div class = "block-content-full">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.rules.title_id3" %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-rules">
              <%= render "table_header" %>
            </thead>
            <tbody class = "rules-content">
              <%= render(@rules) || t(".data_not_find") %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @rules %></center>
      </div>
    </div>
  </div>
</div>

