<% provide :title, t("admin.users.information_user") %>
<div class = "row">
  <div class = "block-title">

  </div>
  <div class = "block-content-full">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"dashboard.users.title_profile" %>
        </h3>
      </div>
      <%= render "shared/show" %>
    </div>
  </div>
</div>
