<li class = "dropdown">
  <%= link_to "", class: "dropdown-toggle", data: { toggle: "dropdown"} do %>
    <%= "Admin" %>
    <b class = "caret"></b>
  <% end %>
  <ul class = "dropdown-menu">
    <li></li>
    <li></li>
    <li></li>
  </ul>
</li>
