<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container">
    <h1 class="text-center animation-slideDown"><strong>Our Work</strong></h1>
    <h2 class="h3 text-center animation-slideUp">We will be happy to work together and bring your ideas to life!</h2>
  </div>
</section>
