<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark intro-user">
    <div class="container text-center">
        <h1 class="animation-slideDown"><strong>Checkout</strong></h1>
    </div>
</section>
<!-- END Intro -->
