<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark intro-user">
    <div class="container text-center">
      <% if @title.present? %>
        <h1 class="animation-slideDown"><strong><%= @title %></strong></h1>
      <% end %>
    </div>
</section>
<!-- END Intro -->
