<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= Rails.application.assets.find_asset("mailer_custom.scss").to_s %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
